.tbody {
  width: 90%;
  margin: 0 auto;

  > .table_row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > li {
      border: 1px solid black;
      display: inline-block;
      padding: 10px;
      min-height: 88px;
      width: 122px;
      font-size: 16px;
      font-weight: 500;

      > .confirm_block {
        display: flex;
        flex-direction: column;
        gap: 5px;
        > .Button {
          padding: 5px 8px;
          background-color: #0073b1;
          border-radius: 5px;
          border: none;

          color: white;
        }
      }
    }
  }
}

.BasketCard {
  display: flex;
  justify-content: center;
  width: 100%;
  

  .cont {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .left {
      display: flex;
    }
  }
}
