.main {
  font-size: 16px;
  display: flex;
  width: 100%;

  .rightContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;

    > section {
      overflow-y: scroll;
    }
  }
}
