@import url("https://fonts.googleapis.com/css2?family=Mali:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: black;
  text-decoration: none;
  font-family: "Mali", cursive;
  font-family: "Montserrat", sans-seri;
}
body{
  background-color: #EFF7FC;
}
